{
    "presets": [
        "es2015",
        "stage-1",
        [
            "env",
            {
                "targets": {
                    "node": "6.11.3"
                }
            }
        ]
    ]
    // "plugins": [
    //     "transform-class-properties",
    //     "transform-decorators-legacy",
    //     "transform-object-rest-spread",
    //     "transform-runtime",
    //     "transform-imports",
    //     "transform-async-to-generator",
    //     "dynamic-import-node"
    // ]
}